In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset.csv')
df.head()

,areaname,regname,country,devname,lat,lon,flag,capital,population,countrycode,year,value
0,Asia,Southern Asia,Afghanistan,Developing regions,33.0,65.0,https://restcountries.eu/data/afg.svg,Kabul,27657145,AF,1980,16
1,Asia,Southern Asia,Afghanistan,Developing regions,33.0,65.0,https://restcountries.eu/data/afg.svg,Kabul,27657145,AF,1981,39
2,Asia,Southern Asia,Afghanistan,Developing regions,33.0,65.0,https://restcountries.eu/data/afg.svg,Kabul,27657145,AF,1982,39
3,Asia,Southern Asia,Afghanistan,Developing regions,33.0,65.0,https://restcountries.eu/data/afg.svg,Kabul,27657145,AF,1983,47
4,Asia,Southern Asia,Afghanistan,Developing regions,33.0,65.0,https://restcountries.eu/data/afg.svg,Kabul,27657145,AF,1984,71

In [6]:
sr = df.groupby(['regname','year']).sum()
sr.to_csv('sr.csv', header=True)

In [5]:
sr

                                       lat         lon  population  value
regname                   year
Australia and New Zealand 1980  -68.000000  307.000000    28815214   1304
                          1981  -68.000000  307.000000    28815214   1119
                          1982  -68.000000  307.000000    28815214    848
                          1983  -68.000000  307.000000    28815214    457
                          1984  -68.000000  307.000000    28815214    481
                          1985  -68.000000  307.000000    28815214    467
                          1986  -68.000000  307.000000    28815214    532
                          1987  -68.000000  307.000000    28815214    675
                          1988  -68.000000  307.000000    28815214    610
                          1989  -68.000000  307.000000    28815214    790
                          1990  -68.000000  307.000000    28815214    890
                          1991  -68.000000  307.000000    28815214    867
                          1992  -68.000000  307.000000    28815214   1075
                          1993  -68.000000  307.000000    28815214   1238
                          1994  -68.000000  307.000000    28815214    936
                          1995  -68.000000  307.000000    28815214    878
                          1996  -68.000000  307.000000    28815214    918
                          1997  -68.000000  307.000000    28815214    804
                          1998  -68.000000  307.000000    28815214    625
                          1999  -68.000000  307.000000    28815214    687
                          2000  -68.000000  307.000000    28815214    811
                          2001  -68.000000  307.000000    28815214   1159
                          2002  -68.000000  307.000000    28815214   1068
                          2003  -68.000000  307.000000    28815214   1221
                          2004  -68.000000  307.000000    28815214   1280
                          2005  -68.000000  307.000000    28815214   1279
                          2006  -68.000000  307.000000    28815214   1193
                          2007  -68.000000  307.000000    28815214   1383
                          2008  -68.000000  307.000000    28815214   1498
                          2009  -68.000000  307.000000    28815214   1538
...                                    ...         ...         ...    ...
Western Europe            1984  435.416667   65.183333   194539965   3976
                          1985  435.416667   65.183333   194539965   3795
                          1986  435.416667   65.183333   194539965   3763
                          1987  435.416667   65.183333   194539965   5126
                          1988  435.416667   65.183333   194539965   5396
                          1989  435.416667   65.183333   194539965   5930
                          1990  435.416667   65.183333   194539965   5057
                          1991  435.416667   65.183333   194539965   5809
                          1992  435.416667   65.183333   194539965   6285
                          1993  435.416667   65.183333   194539965   6958
                          1994  435.416667   65.183333   194539965   5366
                          1995  435.416667   65.183333   194539965   6563
                          1996  435.416667   65.183333   194539965   6611
                          1997  435.416667   65.183333   194539965   5638
                          1998  435.416667   65.183333   194539965   6240
                          1999  435.416667   65.183333   194539965   6798
                          2000  435.416667   65.183333   194539965   7249
                          2001  435.416667   65.183333   194539965   6933
                          2002  435.416667   65.183333   194539965   6202
                          2003  435.416667   65.183333   194539965   6840
                          2004  435.416667   65.183333   194539965   8036
                          2005  435.416667   65.183333   194539965   8272
                          2006  435.416667   65.183333   194539965   8278
                          2007  435.416667   65.183333   194539965   8133
                          2008  435.416667   65.183333   194539965   9970
                          2009  435.416667   65.183333   194539965  10525
                          2010  435.416667   65.183333   194539965   9145
                          2011  435.416667   65.183333   194539965   7415
                          2012  435.416667   65.183333   194539965   9243
                          2013  435.416667   65.183333   194539965   7913

[748 rows x 4 columns]

In [7]:
dev = df.groupby(['devname','year']).sum()
dev.to_csv('dev.csv', header=True)